[Unit]
Description=load rptrig module into fpga

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/bin/cat /root/rptrig.bit > /dev/xdevcfg;/sbin/insmod /root/usermem.ko"
ExecStop=/sbin/rmmod usermem.ko
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
