[Unit]
Description=w7x timing server
After=network.target w7x_timing_fpga.service

[Service]
ExecStart=/bin/w7x_timing
Restart=always

[Install]
WantedBy=multi-user.target
